:root {
	--accent: #5757FF;
	--accent-hover: #3f49a6;
	--accent2: #F23053;
	--accent2-hover: #ca1c3c;
	--white: #fff;
	--black: #150F21;
	--silver: #98A5B1;
	--grey: #878787;
	color: var(--black);
	font-family: 'NeoSansPro', sans-serif;
	font-size: 16px;
}

* {
	margin: 0;
	padding: 0;
}

h1, .h1 { font-family: 'Igra Sans'; font-size: 2rem; }
h2, .h2 { font-family: 'Igra Sans'; font-size: 1.8rem; }
h3, .h3 { font-family: 'Igra Sans'; font-size: 1.6rem; }
h4, .h4 { font-family: 'Igra Sans'; font-size: 1.4rem; }
h5, .h5 { font-family: 'Igra Sans'; font-size: 1.2rem; }
h6, .h6 { font-family: 'Igra Sans'; font-size: 1rem; }

.blue { color: #569cd6; }
.light-blue { color: #9cdcfe; }
.pink { color: #da70d6; }
.yellow { color: #ffd700; }
.green { color: #4ec9b0; }
.light-green { color: #b5cea8; }
.brown { color: #ce9178; }

button,
.btn {
	padding: 0.5rem 1rem;
	background: var(--accent);
	color: var(--white);
	border: 2px solid transparent;
	border-radius: 0.5rem;
	font-family: 'Neo Sans Pro', sans-serif;
	font-size: 1rem;
	transition: 0.3s;
	outline: none;
	cursor: pointer;
	user-select: none;
}
button:hover,
.btn:hover {
	background: var(--accent-hover);
}